<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/shell/style.css" />
    <link rel="stylesheet" href="/assets/css/shell/xterm.css" />
    <script>
      const projects = <%- JSON.stringify(projects) %>;
      const experiences = <%- JSON.stringify(experiences) %>;
      const formations = <%- JSON.stringify(formations) %>;
      const competences = <%- JSON.stringify(competences) %>;
      
    </script>
    <script src="/assets/js/shell/xterm.js"></script>
    <script src="/assets/js/shell/addon-web-links.js"></script>
    <script src="/assets/js/shell/addon-fit.js"></script>
    <script src="/assets/js/shell/colors.js"></script>
    <script src="/assets/js/shell/command.js"></script>
    <script src="/assets/js/shell/fs.js"></script>
    <script src="/assets/js/shell/main.js"></script>
  </head>
  <body id="terminal">
  </body>
</html>
