.pane {
  min-width: 100vw;
  min-height: 80vh;
  border-bottom: none !important;
  padding-top: 70px !important;
}

#index {
  min-height: 100vh;
}
.vcenter {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}
.competences {
  display: flex;
  flex-wrap: wrap;
}
.left .competences {
  justify-content: flex-end;
}
.competence {
  font-size: 1.2em;
  background-color: #297eb9;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin: 1px;
  cursor: pointer;
}

.competence:hover {
  background-color: #145787;
  color: white;
  text-decoration: none;
}

#presentation {
  padding-top: 100px !important;
}

#presentation p {
  text-align: justify;
}

.huge {
  font-size: 4em !important;
}

h3 {
  font-size: 2.8em !important;
}

#index h3 {
  font-size: 1.5em !important;
  font-weight: normal;
}

.data h3 {
  font-size: 1.8em !important;
  margin-left: 20px;
  margin-right: 20px;
}

p {
  font-size: 1.5em !important;
}

.main {
  margin-top: 0px !important;
  width: 100vw;
  margin-left: 0px;
  margin-right: 0px;
}

.scrolldown {
  margin: 0 !important;
  position: absolute !important;
  bottom: 20px !important;
  left: calc(50% - 35px / 2) !important;
}

#main-menu {
  position: absolute;
  z-index: 100;
  width: auto !important;
  min-width: auto !important;
  max-width: none !important;
}

.menu {
  justify-content: center;
}

.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 4em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

#passion {
  display: inline-block;
}

.passion {
  margin: 10px;
}

.semismall {
  width: 110px;
  height: auto;
}

.no-top-margin {
  margin-top: 0px !important;
}

#experience-content,
#formation-content {
  display: block;
  z-index: 0;
  left: 50%;
  margin-top: 0px;

  height: auto;
}

#experience-arrow,
#formation-arrow {
  position: absolute;
  left: 50%;
  width: 7px;
  height: 80%;
  background-color: #297eb9;

  -ms-transform: translate(-250%, 0%) !important;
  transform: translate(-250%, 0%) !important;
}

#experience-arrow-top,
#formation-arrow-top {
  position: absolute;
  left: 50%;
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #297eb9;
  -ms-transform: translate(-100%, -50%) !important;
  transform: translate(-100%, -50%) !important;
}

.experience.data > .circle,
.formation.data > .circle {
  height: 30px;
  width: 30px;
  background-color: #bec3c7;
  border: 5px solid #364b5f;
  border-radius: 50%;
  z-index: 1;
  margin: 5px 20px;
}

.experience.data > .left,
.formation.data > .left {
  width: calc(50% - 50px);
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}

.experience.data > .right,
.formation.data > .right {
  width: calc(50% - 50px);
  text-align: left;
  vertical-align: middle;
  display: table-cell;
}

.experience.data,
.formation.data {
  margin-top: 40px;
  display: inline-flex;
  width: 100%;
}

.right > h1,
.left > h1 {
  color: #364b5f;
}

.right > .secondary,
.left > .secondary {
  position: relative;

  display: inline-flex;
  margin-top: 20px;
}

.date {
  padding-top: 8px;
  line-height: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: #364b5f;
}

.right > h1,
.left > h1,
.right > p,
.left > p {
  margin-bottom: 5px;
}

.competences {
  font-weight: bold;
  color: #297eb9;
}

.list {
  text-align: left;
}

.card > .image {
  min-height: 250px;
}

#projets > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  justify-content: center;
}

#competences > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  justify-content: center;
}

#categories {
  margin-top: 20px;
}

.category .description {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
  .ui.fixed.menu {
    display: none !important;
  }

  #index {
    border-bottom: solid #2185d0 35px !important;
  }

  #main-menu {
    display: none;
  }

  .vcenter {
    margin: auto !important;
    position: static !important;
    top: auto !important;
    left: auto !important;
    -ms-transform: translate(0%, 0%) !important;
    transform: translate(0%, 0%) !important;
  }

  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }

  .masthead h1.ui.header {
    font-size: 30px !important;
  }
  .masthead h2 {
    font-size: 20px !important;
  }

  .right > h1,
  .left > h1 {
    font-size: 1em !important;
  }
  .right > p,
  .left > p {
    font-size: 0.9em !important;
  }

  .secondary > img {
    display: none !important;
  }

  .competence {
    font-size: 0.8em;
  }
}
