<div class="ui text container vcenter">
  <img
    id="profile"
    class="ui circular image centered"
    src="/assets/images/profile.jpg"
    style="visibility: hidden"
  />
  <h1 class="ui huge inverted header">Nicolas GUERROUDJ</h1>
  <h2>Ingénieur en développement logiciel</h2>
  <h3>Jeune diplomé de l'ENSIMAG</h3>

  <a class="ui button centered blue" href="/assets/CV - FR.pdf" target="_blank">Télécharger</a>
  <a class="ui button centered blue" href="/assets/CV - EN.pdf" target="_blank">Download</a>
  

  <!-- Clickable image redirecting to /shell -->
  <div class="ui centered">
    <a href="/shell">
      <img src="/assets/images/shell.png" alt="Terminal" width="600px" />
    </a>
  </div>
</div>
<a href="#presentation" class="scrolldown circular blue inverted ui icon button">
  <i class="icon arrow down"></i>
</a>
