<div class="ui inverted secondary pointing main menu blue">
  <div class="header item">
    <a href="#index"> Nicolas GUERROUDJ </a>
  </div>
  <a href="#presentation" class="item active">Présentation</a>
  <a href="#experiences" class="item">Experiences</a>
  <a href="#formation" class="item">Formations</a>
  <a href="#projets" class="item">Projets</a>
  <a href="#competences" class="item">Competences</a>
</div>
