<h1 class="ui huge header">Présentation</h1>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Qui suis-je ?</h3>
        <p>
          Jeune diplômé de l'ENSIMAG, j'ai eu l'opportunité de travailler en alternance chez Hewlett
          Packard Enterprise (HPE) en tant qu'apprenti ingénieur en développement logiciel. Depuis
          mon plus jeune âge, l'informatique a toujours été une véritable passion pour moi, et plus
          particulièrement le développement logiciel. Aujourd'hui, mon objectif est de poursuivre ma
          carrière en tant qu'ingénieur en développement logiciel au sein d'une entreprise innovante
          et stimulante.
        </p>
        <h3 class="ui header">Passions</h3>
        <div id="passion">
          <div class="passion ui semismall circular rotate reveal image">
            <img src="/assets/images/Animation.png" class="visible content" />
            <img src="/assets/images/Animation-reveal.png" class="hidden content" />
          </div>
          <div class="passion ui semismall circular rotate reveal image">
            <img src="/assets/images/Electronique.png" class="visible content" />
            <img src="/assets/images/Electronique-reveal.png" class="hidden content" />
          </div>
          <div class="passion ui semismall circular rotate reveal image">
            <img src="/assets/images/Programmation.png" class="visible content" />
            <img src="/assets/images/Programmation-reveal.png" class="hidden content" />
          </div>
          <div class="passion ui semismall circular rotate reveal image">
            <img src="/assets/images/Prestigitation.png" class="visible content" />
            <img src="/assets/images/Prestigitation-reveal.png" class="hidden content" />
          </div>
        </div>
      </div>
      <div class="six wide right floated column">
        <h3 class="ui header">Points forts</h3>

        <div
          id="wordCloud"
          style="height: 300px; width: 300px; margin-left: auto; margin-right: auto"
        ></div>
      </div>
    </div>
  </div>
</div>
